
.bg-image{
  background-image: url(asset/bg.svg); 
}

.container-fluid{
  height:700px;
}

.firstSection{
  width: 100%;
  position:relative;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.firstDiv{
 background-color: white;
 border-radius: 8px;
 border-color: blue;
 border-width: 2px;
 display: flex;
 border-style: solid;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 padding: 20px 40px;
 
}




























    
    
    
    

      

    
    
    
            

    
    
    
        
    
    


















































 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
